<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 20rem">
    <h3 class="card-title text-center">BookHaven Login</h3>
    <form (submit)="login(); $event.preventDefault()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="username"
          placeholder="Enter your BookHaven ID"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter password"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
